@media screen and (min-width: 700px) and (max-width: 1024px) {
  .fonc {
    &_title {
      text-align: center;
    }

    &_pos {
      max-width: 700px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
    }
  }

  .restaurant {
    &_pos {
      max-width: 700px;
      width: 100%;
      margin: auto;
    }

    &_title {
      text-align: center;
    }
  }

  .resto_name-wrap {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 1025px) {

  html,
  :root {
    font-size: 1px;
  }

  .explorer br {
    display: none;
  }

  .site_header {
    box-shadow: none;

    
  }
  .site_location {
    box-shadow: none;
  }
  
  .fonc {
    margin: auto;
    width: 1007px;
    padding: 60px 5px 30px 5px;

    &_pos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25px;
      width: 100%;
      padding-left: 12px;
      max-width: 1015px;
    }

    &_title {
      padding-left: 3px;
    }

    &_btn {
      width: 335px;

      &-txt {
        font-size: 16px;
      }
    }
  }

  .restaurant {
    padding: 20px 0px 30px 0px;

    &_pos {
      width: 1010px;
      margin: auto;
      padding-left: 10px;
    }

    &_title {
      padding-left: 0;
    }
  }

  .resto_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 33px;
    width: 100%;
    max-width: 1011px;
  }

  .card {
    width: 470px;
  }

  footer {
    position: relative;
    height: 114px;
    max-width: 100%;

    nav {
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 250px;
      padding-top: 40px;
      gap: 15px;
    }
  }

  .footer_title {
    padding-bottom: 10px;
    position: absolute;
    right: 40px;
    bottom: 25px;
  }

  .footer_content {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 0.5px;
    gap: 15px;
  }

  /***MENU***/

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1055px;
    width: 100%;
    margin: auto;
    margin-top: 25px;
  }

  .main_img {
    height: 383px;
    transform: scale(1);
    object-fit: cover;
    width: 100%;
    margin-bottom: -60px;
  }

  .resto_name-wrap {
    display: flex;
    gap: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .carte {
    margin: auto;
    width: fit-content;

    &_pos {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

    .plat {
      width: 634px;
      max-width: none;
    }
  }
}

// 