html,
:root {
    font-size: 0.22vw;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    animation-name: loader_ending;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    pointer-events: none;

    & i {
        animation-name: loader;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        color: #9356dc;
    }
}

@keyframes loader {
    50% {
        font-size: 120px;
        transform: rotate(360deg);
        color: #ff79da;
    }

    100% {
        font-size: 40px;
        transform: rotate(-360deg);
    }
}

@keyframes loader_ending {
    100% {
        opacity: 0;
    }
}

:root,
button,
body {
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 16px;
}

.site_header-logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-size: 24px;
}

/***var&mixins***/

$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$dark-grey: #353535;
$light-green: #99e2d0;
$purple: #9356dc;

@mixin shadow {
    box-shadow: 0px 4px 10px #00000040;
}

@mixin shadow-hover {
    box-shadow: 0px 4px 15px 0px #00000059;
}

@mixin triple-dot {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    overflow: hidden;
}

/*****header*****/

.site_header-logo {
    text-align: center;
    margin-bottom: 15px;
}

.site_header {
    &-location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #eaeaea;
        height: 40px;
        padding-left: 75px;

        form {
            height: 100%;
        }
    }

    &-logo i {
        position: absolute;
        left: 17px;
        top: 17px;
        color: $dark-grey;
        font-size: 25px;
        margin-left: 10px;
    }

    &-search {
        height: 100%;
        border: none;
        background: transparent;
    }
}

/*****explorer*****/

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: $light-grey;

    .btn {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
    }
}

.btn {
    width: 218px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    font-size: 16px;
    font-weight: 500;
    color: white;
    @include shadow;
    transition: all 0.5s;

    &:hover {
        background: linear-gradient(to bottom, #ff79da, #9356dc);
        filter: brightness(115%);
        @include shadow-hover;
    }
}

/****fonctionnement*****/

.fonc {
    // padding: 40px 15px 40px 30px;
    width: 100%;
    padding: 40px 10px 40px 10px;

    & h3 {
        font-weight: 700;
        font-size: 24px;
    }

    &_pos {
        padding: 0px 10px 0px 10px;
    }
}

.fonc_btn {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 72.4px;
    background-color: $light-grey;
    @include shadow;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 3px;

    &-count {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $purple;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-left: -12px;
    }

    &-logo {
        color: $dark-grey;
        font-size: 20px;
    }

    &-txt {
        font-size: 20px;
    }

    .fa-store {
        color: $purple;
    }
}

/****restaurants*****/

.restaurant {
    background-color: $light-grey;
    padding: 40px 10px 40px 10px;
    width: 100%;

    &_title {
        padding-bottom: 20px;
    }
}

.resto_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 100%;
    height: 251px;
    border-radius: 15px;
    background-color: white;
    position: relative;

    &_img {
        width: 100%;
        height: 191px;
        object-fit: cover;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    &_content {
        padding-left: 15px;
        padding-top: 10px;
    }

    &_title {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 5px;
    }

    &_subtitle {
        font-size: 17px;
        font-weight: 300;
    }

    &_new {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 80px;
        height: 29px;
        background-color: #99e2d0;
        color: #008766;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        padding-top: 7px;
    }

    &_logo {
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
}

/****footer****/

footer {
    padding: 22px 25px 22px 25px;
    background-color: #353535;
    color: white;

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }

    a {
        color: white;
        font-weight: 500;
    }

    i {
        width: 30px;
    }
}

.footer_title {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.24px;
    padding-bottom: 15px;
}

.footer_content {
    display: flex;
    flex-direction: column;

    a {
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 7px;
    }
}

/*****************Menu*********************/

.main_img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 275px;
    object-fit: cover;
    transform: scale(1);
}

/******Carte*********/

main {
    position: relative;
    margin-top: -40px;
    z-index: 2;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: $light-grey;
    padding: 30px 15px 30px 15px;
}

.resto_name {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 40.8px;
    padding-bottom: 40px;

    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        margin-top: 10px;
        transform: scaleY(1.1);
    }
}

.carte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 35px;
    gap: 15px;
    width: 100%;
    max-width: 700px;

    &_pos {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

.title_plat {
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;

    &::after {
        content: "";
        display: block;
        width: 50px;
        border-bottom: 3px solid $light-green;
        margin-top: 5px;
    }
}

.plat {
    @include shadow();
    width: 100%;
    min-height: 69px;
    border-radius: 15px;
    padding: 8px 15px 15px 15px;
    background-color: white;
    /**animations**/
    animation-name: carte;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    position: relative;
    overflow: hidden;

    &_name {
        font-weight: 500;
        font-size: 18px;
        line-height: 21.1px;
        @include triple-dot();
    }

    &_wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    &_description {
        font-size: 15.04px;
        font-weight: 300;
        line-height: 17.63px;
        @include triple-dot();
    }

    &_prix {
        font-weight: 700;
        color: $dark-grey;
        transition: all 0.5s;
    }

    &:hover .plat_prix {
        transform: translate(-59px);
    }

    &_valid {
        width: 59px;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
        background-color: $light-green;
        position: absolute;
        top: 0;
        right: -59px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;

        & i {
            color: white;
        }
    }

    &:hover .plat_valid {
        width: 59px;
        right: 0;
    }
}

.plat_wrapper {
    $delay-incpxent: 0.7s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .plat {
        margin-bottom: 15px;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: $delay-incpxent * ($i - 1);
            }
        }
    }
}

@keyframes carte {
    0% {
        opacity: 0;
        transform: translate(0px, -40px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.fa-heart {
    font-size: 22px;
    -webkit-text-stroke: 1px black;
    background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
    background-position: 0 100px;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s;

    &:hover {
        background-position: 0 0;
    }
}

.commander {
    display: flex;
    justify-content: center;
    align-items: center;
}